<section class="banner" id="banner">
  <div class="banner_contenedor">
    <div class="banner_video">
      <video src="/img/video2.mp4" autoplay muted loop></video>
    </div>
    <div class="banner_info_filtro">
      <div class="banner_info">
        <p>_____BIENVENIDO A REMAJUD_____</p>
        <h1>Nuestro Compromiso es que Encuentres tu remate.</h1>
      </div>
      <form action="" method="post">

        <div class="contenedor_filtro_items">
          <div class="items_filtro">
            <select name="categoria" id="cotegoria">
              <option value="">Eliga una categoria</option>
              <option value="casa">Casas</option>
              <option value="departamento">Departamento</option>
              <option value="cocheras">Cocheras</option>
              <option value="terrenos">Terrenos</option>
              <option value="locales_comerciales">Locales Comerciales</option>
              <option value="azoteas">Azoteas</option>
              <option value="terreno_rural">Terreno Rural</option>
              <option value="oficina">Oficinas</option>
            </select>
          </div>
          <div class="items_filtro">
            <select name="ciudad" id="ciudad">
              <option value="">Seleccione una ciudad</option>
              <option value="lima">Lima</option>
              <option value="arequipa">Arequipa</option>
              <option value="trujillo">Trujillo</option>
              <option value="chiclayo">Chiclayo</option>
              <option value="piura">Piura</option>
              <option value="cusco">Cusco</option>
              <option value="iquitos">Iquitos</option>
              <option value="huancayo">Huancayo</option>
              <option value="tacna">Tacna</option>
              <option value="juliaca">Juliaca</option>
            </select>
          </div>
          <div class="items_filtro">
            <select name="departamento" id="departamento">
              <option value="">Seleccione un departamento</option>
            </select>
          </div>
          <div class="items_filtro">
            <select name="precio" id="">
              <option value="">Eliga el monto</option>
              <option value="">$10000 - $15000</option>
              <option value="">$20000 - $30000</option>
              <option value="">$30000 - $50000</option>
            </select>
          </div>
          <div class="btn_filtrar">
            <button type="submit">
              Buscar
              <i class="ri-search-2-line"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="categoria" id="categorias">
  <div class="contenedor_categorias">
    <h2>NUESTRAS CATEGORIAS</h2>
    <div class="categorias">
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/casa.png" alt="">
        </div>
        <p>Casas</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/departamento.png" alt="">
        </div>
        <p>Departamanetos</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/cochera.png" alt="">
        </div>
        <p>Cocheras</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/terreno.png" alt="">
        </div>
        <p>Terrenos</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/local.png" alt="">
        </div>
        <p>Locales Comerciales</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/terraza.png" alt="">
        </div>
        <p>Azoteas</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/terreno_rural.png" alt="">
        </div>
        <p>Terreno Rural</p>
      </a>
      <a href="#" class="cate_remates">
        <div class="img_categorias">
          <img src="/img/oficina.png" alt="">
        </div>
        <p>Oficina</p>
      </a>
    </div>
  </div>
</section>

<section class="subastas" id="subastas">

  <div class="contenedor_card_subastas">
    <% remates.forEach(remate => { %>
    <div class="carta">
        <div class="imagen-contenedor">
            <% if (remate.imagen) { %>
            <img src="data:image/jpeg;base64,<%= Buffer.from(remate.imagen).toString('base64') %>" alt="Imagen del inmueble" class="imagen-propiedad">
            <% } else { %>
            <img src="/img/default.jpg" alt="Imagen no disponible" class="imagen-propiedad">
            <% } %>
            <a href="/auctions/<%= remate.id %>" class="renta-button">Renta +</a>
        </div>
        <div class="contenido">
            <div class="label"><%= remate.categoria %></div>
            <h2 class="nombre_proyecto">Edificio los canarios</h2>
            <div class="label">Dirección</div>
            <p class="direccion"><%= remate.ubicacion %></p>
            <div class="detalles">
                <div class="detalles-item">
                    <div class="label">M2</div>
                    <div class="detalles-valor"><%= remate.tamaño_propiedad %></div>
                </div>
                <div class="detalles-item">
                    <div class="label">N° Pisos</div>
                    <div class="detalles-valor"><%= remate.pisos %></div>
                </div>
                <div class="detalles-item">
                    <div class="label">N° de cuartos</div>
                    <div class="detalles-valor"><%= remate.N_habitacion %></div>
                </div>
            </div>
            <div class="label">Precio</div>
            <div class="precio"><%= remate.precios %></div>
        </div>
    </div>
    <% }) %>
</div>


</section>


<script>
  const departamentosPorCiudad = {
    arequipa: ["Cayma", "Yanahuara", "Cerro Colorado", "José Luis Bustamante y Rivero", "Paucarpata"],
    lima: ["Miraflores", "San Isidro", "Barranco", "Surco", "San Borja"],
    trujillo: ["Víctor Larco", "El Porvenir", "Florencia de Mora", "La Esperanza", "Huanchaco"],
    chiclayo: ["Pimentel", "Lambayeque", "Monsefú", "Reque", "Ferreñafe"],
    piura: ["Sullana", "Catacaos", "Paita", "Sechura", "Talara"],
    cusco: ["San Sebastián", "Wanchaq", "San Jerónimo", "Santiago", "Ollantaytambo"],
    iquitos: ["Punchana", "Belén", "San Juan Bautista", "Iquitos", "Nauta"],
    huancayo: ["El Tambo", "San Agustín de Cajas", "Sapallanga", "Huancán", "Chilca"],
    tacna: ["Alto de la Alianza", "Ciudad Nueva", "Pocollay", "Calana", "Gregorio Albarracín"],
    juliaca: ["Caracoto", "Cabana", "Cabanillas", "Coata", "Huata"]
  };

  document.getElementById("ciudad").addEventListener("change", function() {
    const ciudadSeleccionada = this.value;
    const departamentoSelect = document.getElementById("departamento");

    // Limpia las opciones actuales del select de departamentos
    departamentoSelect.innerHTML = '<option value="">Seleccione un departamento</option>';

    // Agrega las nuevas opciones si hay departamentos para la ciudad seleccionada
    if (departamentosPorCiudad[ciudadSeleccionada]) {
      departamentosPorCiudad[ciudadSeleccionada].forEach((departamento) => {
        const option = document.createElement("option");
        option.value = departamento.toLowerCase();
        option.textContent = departamento;
        departamentoSelect.appendChild(option);
      });
    }
  });
</script>
